
  /*------------------------------------------------------------------------------------*/
 /*--Entypo Font---*/
/*------------------------------------------------------------------------------------*/
@font-face {
    font-family               : "icomoon";
    font-style                : normal;
    font-weight               : normal;

    src:url("chrome-extension://__MSG_@@extension_id__/icomoon.ttf") format("truetype");
    /*src         : url("icomoon.ttf") format("truetype");*/
}

@font-face {
    font-family               : "CabinCondensed-Regular";
    font-style                : normal;
    /*src         : url("CabinCondensed-Regular.ttf") format("truetype");*/
    font-weight               : normal;

    src:url("chrome-extension://__MSG_@@extension_id__/CabinCondensed-Regular.ttf") format("truetype");

}

@font-face {
    font-family               : "CabinCondensed-Medium";
    font-style                : normal;
    font-weight               : normal;

    src:url("chrome-extension://__MSG_@@extension_id__/CabinCondensed-Medium.ttf") format("truetype");
    /*src         : url("CabinCondensed-Medium.ttf") format("truetype");*/
}

@font-face {
    font-family               : "CabinCondensed-SemiBold";
    font-style                : normal;
    font-weight               : normal;

    src:url("chrome-extension://__MSG_@@extension_id__/CabinCondensed-SemiBold.ttf") format("truetype");
    /*src         : url("CabinCondensed-SemiBold.ttf") format("truetype");*/
}

@font-face {
    font-family               : "CabinCondensed-Bold";
    font-style                : normal;
    font-weight               : normal;

    src:url("chrome-extension://__MSG_@@extension_id__/CabinCondensed-Bold.ttf") format("truetype");
    /*src         : url("CabinCondensed-Bold.ttf") format("truetype");*/
}

[class^="icon-"], [class*=" icon-"] {
    font-family    : 'icomoon';
    font-style     : normal;
    font-variant   : normal;
    font-weight    : normal;
    line-height    : 1;
    text-transform : none;

    speak          : none;
}

.icon-social-twitter:before {
    content : "\e600";
}

.icon-th-menu-outline:before {
    content : "\e601";
}

.icon-home-outline:before {
    content : "\e602";
}

.icon-arrow-forward-outline:before {
    content : "\e603";
}

.icon-arrow-back-outline:before {
    content : "\e604";
}

.icon-location-outline:before {
    content : "\e605";
}

.icon-link-outline:before {
    content : "\e606";
}

.icon-image-outline:before {
    content : "\e607";
}

.icon-star-outline:before {
    content : "\e608";
}

.icon-mail:before {
    content : "\e609";
}

.icon-user-outline:before {
    content : "\e60a";
}

.icon-user-add-outline:before {
    content : "\e60b";
}

.icon-cog-outline:before {
    content : "\e60c";
}

.icon-camera-outline:before {
    content : "\e60d";
}

.icon-zoom-outline:before {
    content : "\e60e";
}

.icon-pencil:before {
    content : "\e60f";
}

.icon-arrow-repeat-outline:before {
    content : "\e610";
}

.icon-arrow-minimise-outline:before {
    content : "\e611";
}

.icon-arrow-maximise-outline:before {
    content : "\e612";
}

.icon-bell:before {
    content : "\e613";
}

.photo_button{
    background-image: url("chrome-extension://__MSG_@@extension_id__/SVG/camera-outline.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 32px 32px;
}

  /*------------------------------------------------------------------------------------*/
 /*----Bar---*/
/*------------------------------------------------------------------------------------*/
.resize_container {
    position : fixed !important;
    top      : 78% !important;
    left     : 0px !important;
    z-index  : 999;
}

.minimize_button_T{
    position      : fixed;
    bottom        : 10px;
    left          : 0px;
    z-index       : 999;
    box-sizing    : border-box;

    border        : 0;
    border-radius : 5px;
}

.ticker_button_T{
    position      : fixed;
    bottom        : 10px;
    left          : 20px;
    z-index       : 999;
    box-sizing    : border-box;
    width      : 15px;
    border        : 0;
    border-radius : 5px;
}

.ticker_controller_T {
    position      : fixed;
    display: none;
    bottom        : 10px;
    left          : 40px;
    right: 0;
    z-index       : 999;
    box-sizing    : border-box;
    border        : 0;
    border-radius : 5px;
    background-color : #0085ff;
    overflow: hidden;
}

.ticker_bar_visiable_T {
    display: inline-block;
}

.ticker_controller_T:hover .ticker_container_T {
    -webkit-animation-play-state: paused
}

@-webkit-keyframes move_eye {
    from {
        -webkit-transform: translate(65%, 0)
    }
    to {
        -webkit-transform: translate(-100%, 0)
    }
    90% {
    }
}

.ticker_container_T {
    white-space: nowrap;
    position: relative;
    display: inline-block;
    /*-webkit-animation: move_eye 25s linear 0s infinite normal;*/
}

.tweet_ticker_T {
    box-sizing: border-box;
    background-color: #EEF;
    display: inline-block;
    border-radius:5px;
    padding: 3px 5px;
    vertical-align: top;
    margin: 0px 2px;
    height: 60px;
    width: 320px;
    max-width: 400px;
    font-size: .7em;
}

.tweet_ticker_T:hover {
    height:auto;
}

.image_ticker_T {
    display:inline-block;
    height: 30px;
}

.tweet_ticker_T:hover .image_ticker_T {
    height: 40px;
}

.text_container_ticker_T {
    display: inline-block;
    width: 95%;
    text-align:left;
}

.content_ticker_T{
    font-family : CabinCondensed-Bold;
    word-wrap: break-all;
    white-space: normal;
    font-size: 11px;
}

.tweet_ticker_T:hover .content_ticker_T{
    font-size: 15px;
    font-family : CabinCondensed-Bold;
    height: auto;
}

.app_container_T{
    position : relative;
    display  : none;

    overflow : scroll;
    height   : 150px;
    z-index  : 999;
}

.app_container_visiable_T{
    display: inline-block;
}

.t_ul{
    list-style : none;
}

.app_container_T * {
    vertical-align : text-bottom;
    box-sizing     : border-box;

    border-radius  : 5px;
}

/*------------------------------------------------------------------------------------*/
 /*----Menu---*/
/*------------------------------------------------------------------------------------*/
.menu_T {
    display          : inline-block;

    height           : 100%;
    width            : 50px;

    background-color : lightblue;
}

.large_menu_button_T{
    height        : 40px;
    width         : 40px;
    margin        : 2px;

    background    : #0016f0;
    font-size     : 20px;
    color         : #ffffff;
    border        : 0;
    border-radius : 10px;
}

.small_menu_button_T{
    height     : 20px;
    width      : 20px;
    margin     : 1px;
    padding    : 0px;

    background : #002aa9;
    font-size  : 12px;
    color      : #ffffff;
    border     : 0;
}
.timeline_button{
    background-image: url("chrome-extension://__MSG_@@extension_id__/SVG/home-outline.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 32px 32px;
}

.compose_button{
    background-image: url("chrome-extension://__MSG_@@extension_id__/SVG/pencil.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 32px 32px;
}

.options{
    margin-left : 26px;
    text-align  : center;
}

 /*-------------------------------------------------------------------------------------*/
 /*Selection Element*/
/*------------------------------------------------------------------------------------*/
.container_element_T{
    position         : relative;
    display          : inline-block;

    overflow         : hidden;
    height           : 100%;
    width            : 350px;
    min-width        : 225px;
    margin           : 0;
    padding          : 0px;

    background-color : #0085ff;
    font-size        : 15px;
}

.content_header_T {
    height : 35px;
    width  : 100%;
}

.close_button_T{
    position         : absolute;
    display          : inline-block;
    top              : 0;
    left             : 0;

    height           : 20px;
    width            : 20px;
    margin           : 0;
    padding          : 0;

    background-color : #ff391c;
    color            : #ffffff;
    border           : 0;
}

.search_form_T {
    position : absolute;
    display  : inline-block;
    left     : 22px;

    height   : 35px;
    width    : 90%;
}

.content_title_T {
    display : inline-block;
    position: absolute;
    left: 22px;
    height  : 35px;
    width   : 90%;
}

.content_container_T {
    position : relative;

    height   : 100%;
    width    : 100%;
}

.content_selection_button_T {
    height    : 35px;
    width     : 100%;
    background-color: #aeaea8
    font-size : 100%;
}

.content_list_T {
    overflow : auto;
    height   : 100%;
    width    : 100%;
    margin   : 0px;
    padding  : 0px;
}

.t_content{
    position      : relative;

    height        : 80px;
    width         : 100%;

    background    : #94c2e3;
    border        : 1px solid #dbe3ba;
    border-radius : 0px;
    overflow: hidden;
}

.t_content_container_image{
    position : absolute;
    display  : block;
    top      : 0;
    left     : 0;

    height   : 34px;
    width    : auto;
    margin   : 0;
}

.t_content_container_text{
    position    : absolute;
    top         : 16px;
    left        : 36px;

    overflow    : hidden;
    margin      : 0;

    font-family : CabinCondensed-Bold;
    font-size   : 14px;
    text-align  : left;
}

.date_posted_T{
    position    : absolute;
    display     : inline-block;
    top         : 36px;
    left        : 0px;

    width       : 34px;
    margin      : 0;

    font-family : CabinCondensed-Regular;
    font-size   : 17px;
    color       : #4f5556;
    text-align  : center;
}
.post_account_name {
    position    : absolute;
    display     : inline-block;
    top         : 2px;
    left        : 40px;
    color: #31424e;
    margin      : 0;
    padding     : 0;

    font-family : CabinCondensed-SemiBold;
    font-size   : 13px;
}

.post_account_handle {
    position    : absolute;
    display     : inline-block;
    top         : 2px;
    left        : 120px;

    margin      : 0;
    padding     : 0;

    font-family : CabinCondensed-Regular;
    font-size   : 13px;
    color       : #4f5556;
}

.options_bar {
    position         : absolute;
    display          : none;
    bottom           : 0px;
    left             : 40px;
    margin           : 0px;
    padding          : 5px;
    font-family      : CabinCondensed-SemiBold;
}

.tweet_options_button{
    border: 0px;
    font-size: 15px;
    background-color : transparent;
}

.t_content:hover > .options_bar {
    display          : inline-block;
}

.t_content:hover{
     height: 100px;
}

 /*-------------------------------------------------------------------------------------*/
 /*Timeline Element*/
/*------------------------------------------------------------------------------------*/
.search_bar_T{
    height           : 100%;
    width            : 100%;
    margin           : 0px;

    background-color : white;
    font-size        : 12px;
    border           : 0px solid rgb(178, 210, 203);
    border-radius    : 8px;
    box-shadow       : rgb(204, 204, 204) 0px 0px 0px 1px inset;
}

.search_button_T {
    position         : absolute;
    right            : 0;

    height           : 35px;
    width            : 35px;
    padding          : 0px;

    cursor           : pointer;
    background-color : rgb(178, 210, 203);
    font-size        : 30px;
    border           : 0px;

    background-image: url("chrome-extension://__MSG_@@extension_id__/SVG/zoom-outline.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 32px 32px;
}

 /*-------------------------------------------------------------------------------------*/
 /*Tweet Element*/
/*------------------------------------------------------------------------------------*/
.tweet_container_T {
    display          : inline-block;

    height           : 100%;
    width            : 350px;
    margin           : 0;
    padding          : 5px;

    background-color : red;
}

.text_container_T {
    position : absolute;
    top      : 5px;
    bottom   : 35px;

    width    : 100%;
}

.tweet_text_area_T {
    position: absolute;
    left: 22px;
    height : 100%;
    width  : 90%;
}

.button_container_T{
    position : absolute;
    bottom   : 2px;
    left: 22px;
    width    : 100%;
}

.composition_button_T {
    height : 30px;
    width  : 50px;
    margin : 0px 2px;
}

.tweet_word_count_T {
    height     : 30px;
    width      : 40px;
    margin     : 0px 3px;

    background : transparent;
    color      : #b1b7b6;
}

.ui-resizable-n {
    top        : 0;
    border-top : 5px solid #000000;
}

.ui-resizable-e {
    right        : 0;
    border-right : 5px solid #000000;
}