  /*------------------------------------------------------------------------------------*/
 /*--Entypo Font---*/
/*------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'EntypoRegular';
    src: url('font/entypo.eot');
    src: url('font/entypo.eot?#iefix') format('embedded-opentype'),
         url('font/entypo.woff') format('woff'),
         url('font/entypo.ttf') format('truetype'),
         url('font/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EntypoSocial';
    src: url('font/entypo-social.eot');
    src: url('font/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('font/entypo-social.woff') format('woff'),
         url('font/entypo-social.ttf') format('truetype'),
         url('font/entypo-social.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

  /*------------------------------------------------------------------------------------*/
 /*----Bar---*/
/*------------------------------------------------------------------------------------*/
.minimize_button{
    position:fixed;
    bottom:1px;
    left:2px;
    margin: 1px;
    z-index: 999;
    box-sizing: border-box;
    border-radius:5px;
    vertical-align :  text-bottom;
}

.app_container_T{
    position:fixed;
    bottom:0;
    left:0;
    z-index: 998;
    background-color:grey;
    margin: 0;
    padding: 0;
}

.app_container_T > li { /*create a class for them to share itll be faster, like t_ul*/
    display: inline-block;
}

.t_ul{
    list-style: none;
}

 .app_container_T * {
    box-sizing: border-box;
    border-radius:5px;
    vertical-align :  text-bottom;
}
/*------------------------------------------------------------------------------------*/
 /*----Menu---*/
/*------------------------------------------------------------------------------------*/
.menu_T {
    background-color:lightblue;
    margin: 1px;
    padding: 0px;
    width:60px;
}

.large_menu_button_T{
    background: #0016f0;
    color: #ffffff;
    height: 50px;
    width: 50px;
    margin: 3px;
    font-size: 20px;
    border-radius:10px;
}
.small_menu_button_T{
    background: #002aa9;
    color: #ffffff;
    height: 20px;
    width: 20px;
    margin: 1px;
    font-size: 12px;
}

.options{
    margin-left: 26px;
}

 /*-------------------------------------------------------------------------------------*/
 /*Selection Element*/
/*------------------------------------------------------------------------------------*/
.container_element_T{
    background-color:red;
    padding: 5px;
    height: 150px;
    width: 325px;
}

.container_element_T > li{
    width: 100%;
    height: 25%;
}

.close_button_T{
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top
}

.search_form_T {
    width: 90%;
    height: 100%;
    display: inline-block;
}

.content_selection_button_T {
    font-size: 100%;
    width:100%;
    height: 100%;
}

.content_title_T {
    width: 90%;
    height: 100%;
    display: inline-block;
}

.content_list_T {
    width: 100%;
    height: 300%;
    padding: 2px;
    background: #0c5bd4;
    overflow: auto;
}

.t_content{
    width: 100%;
    height: 50%;
    background: #40aeee;
    border: 1px solid #fffeda;
}

.t_content_container_image{
    display: block;
    margin: 0;
    float: left;
    height: 100%;
    width: auto;
}
.t_content_container_text{
    margin: 0;
    overflow: hidden;
    padding-left: 2px;
    height: 100%;
    width: initial;
}
 /*-------------------------------------------------------------------------------------*/
 /*Timeline Element*/
/*------------------------------------------------------------------------------------*/



.search_bar_T{
    background-color:white;
    box-shadow: rgb(204, 204, 204) 0px 0px 0px 1px inset;
    border: 1px solid rgb(178, 210, 203);
    border-radius: 8px;
    font-size: 12px;
    height: 100%;
    width: 87%; 
}

.search_button_T {
    cursor: pointer;
    border: 1px;
    background-color: #d4d4d4;
    font-family: 'EntypoRegular';
    color: #5f615c;
    font-size: 30px;
    height: 100%;
    width: 13%;
}

 /*-------------------------------------------------------------------------------------*/
 /*Tweet Element*/
/*------------------------------------------------------------------------------------*/
.tweet_container_T {
    background-color:red;
    padding: 5px;
    height: 150px;
    width: 325px;
}

.tweet_text_area_T {
    height: 80%;
    width: 90%;   
}

.composition_button_T {
    margin: 0px 2px;
    height: 20%;
    width: 10%;     
}

.tweet_word_count_T {
    height: 20%;
    width: 10%;
    background: transparent;
    color: #b1b7b6;
    margin: 0px 15%;
}

