
  /*------------------------------------------------------------------------------------*/
 /*--Entypo Font---*/
/*------------------------------------------------------------------------------------*/
@font-face {
    font-family : 'EntypoRegular';
    font-style  : normal;
    font-weight : normal;

    src         : url('font/entypo.eot');
    src         : url('font/entypo.eot?#iefix') format('embedded-opentype'),
    url('font/entypo.woff') format('woff'),
    url('font/entypo.ttf') format('truetype'),
    url('font/entypo.svg#EntypoRegular') format('svg');
}

@font-face {
    font-family : 'EntypoSocial';
    font-style  : normal;
    font-weight : normal;

    src         : url('font/entypo-social.eot');
    src         : url('font/entypo-social.eot?#iefix') format('embedded-opentype'),
    url('font/entypo-social.woff') format('woff'),
    url('font/entypo-social.ttf') format('truetype'),
    url('font/entypo-social.svg#EntypoRegular') format('svg');
}

  /*------------------------------------------------------------------------------------*/
 /*----Bar---*/
/*------------------------------------------------------------------------------------*/
.resize_container {
    position : fixed !important;
    top      : 78% !important;
    left     : 0px !important;
}

.minimize_button{
    position      : fixed;
    bottom        : 21px;
    left          : 2px;
    z-index       : 999;
    box-sizing    : border-box;

    border-radius : 5px;
}

.app_container_T{
    position : relative;
    display  : inline-block;

    overflow : scroll;
    height   : 150px;
}

.t_ul{
    list-style : none;
}

.app_container_T * {
    vertical-align : text-bottom;
    box-sizing     : border-box;

    border-radius  : 5px;
}

/*------------------------------------------------------------------------------------*/
 /*----Menu---*/
/*------------------------------------------------------------------------------------*/
.menu_T {
    display          : inline-block;

    height           : 100%;
    width            : 60px;

    background-color : lightblue;
}

.large_menu_button_T{
    height        : 50px;
    width         : 50px;
    margin        : 3px;

    background    : #0016f0;
    font-size     : 20px;
    color         : #ffffff;
    border-radius : 10px;
}

.small_menu_button_T{
    height     : 20px;
    width      : 20px;
    margin     : 1px;

    background : #002aa9;
    font-size  : 12px;
    color      : #ffffff;
}

.options{
    margin-left : 26px;
}

 /*-------------------------------------------------------------------------------------*/
 /*Selection Element*/
/*------------------------------------------------------------------------------------*/
.container_element_T{
    position         : relative;
    display          : inline-block;

    overflow         : scroll;
    height           : 100%;
    width            : 325px;
    margin           : 0;
    padding          : 5px;

    background-color : red;
}

.content_header_T {
    position : relative;

    height   : 35px;
    width    : 100%;
}

.content_header_T  > * {
    position : relative;
}

.close_button_T{
    display        : inline-block;
    vertical-align : top

    height         : 20px;
    width          : 20px;
    margin         : 0;
    padding        : 0;
}

.search_form_T {
    display : inline-block;

    height  : 35px;
    width   : 90%;
}

.content_title_T {
    display : inline-block;

    height  : 100%;
    width   : 90%;
}

.content_container_T {
    position : relative;

    height   : 100%;
    width    : 100%;
}

.content_selection_button_T {
    height    : 35px;
    width     : 100%;

    font-size : 100%;
}

.content_list_T {
    overflow   : auto;
    height     : 100%;
    width      : 100%;
    padding    : 2px;

    background : #0c5bd4;
}

.t_content{
    height     : 50%;
    width      : 100%;

    background : #40aeee;
    border     : 1px solid #fffeda;
}

.t_content_container_image{
    display : block;
    float   : left;

    height  : 100%;
    width   : auto;
    margin  : 0;
}

.t_content_container_text{
    overflow     : hidden;
    height       : 100%;
    width        : initial;
    margin       : 0;
    padding-left : 2px;
}

 /*-------------------------------------------------------------------------------------*/
 /*Timeline Element*/
/*------------------------------------------------------------------------------------*/
.search_bar_T{
    height           : 100%;
    width            : 87%;

    background-color : white;
    font-size        : 12px;
    border           : 1px solid rgb(178, 210, 203);
    border-radius    : 8px;
    box-shadow       : rgb(204, 204, 204) 0px 0px 0px 1px inset;
}

.search_button_T {
    height           : 35px;
    width            : 35px;

    cursor           : pointer;
    background-color : #d4d4d4;
    font-family      : 'EntypoRegular';
    font-size        : 30px;
    color            : #5f615c;
    border           : 1px;
}

 /*-------------------------------------------------------------------------------------*/
 /*Tweet Element*/
/*------------------------------------------------------------------------------------*/
.tweet_container_T {
    display          : inline-block;

    height           : 100%;
    width            : 325px;
    margin           : 0;
    padding          : 5px;

    background-color : red;
}

.text_container_T {
    position : absolute;
    top      : 5px;
    bottom   : 35px;

    width    : 100%;
}

.tweet_text_area_T {
    height : 100%;
    width  : 90%;
}

.button_container_T{
    position : absolute;
    bottom   : 2px;

    width    : 100%;
}

.composition_button_T {
    height : 30px;
    width  : 40px;
    margin : 0px 2px;
}

.tweet_word_count_T {
    height     : 30px;
    width      : 40px;
    margin     : 0px 3px;

    background : transparent;
    color      : #b1b7b6;
}

.ui-resizable-n {
    top        : 0;
    border-top : 5px solid #000000;
}

.ui-resizable-e {
    right        : 0;
    border-right : 5px solid #000000;
}